//SLIDE STYLES
.layout-slides {
  // override main css styles
  --size-base: calc( var(--base) * 1.75);
  --lineheight: calc( var(--base) * 2.25);

  header, footer, section{
    max-width: none;
    margin: 0;
    width: 100%;
  }
  h2{
    border-bottom: 0;
  }
  h1+h2{
    margin-top: var(--pad);
  }
  main{
    margin: 0;
  }
  a:hover{
    color: var(--color-link);
  }

  input[type="checkbox"]{
    --color-base: var(--color-bg);
  }
}

table{
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 0;
  td{
    vertical-align: top;
  }
  th,td{
    border-bottom: 2px solid;
    padding: 0.25em .5em;
    &:first-child{
    	padding-left: 0;
    }
    &:last-child{
    	padding-right: 0;
    }
  }
  th{
    padding-top: 0;
  }
  &.dense{
    font-size: var(--size-small);
  }
}

.table-fontvalues{
  th:first-child, td:first-child{
    width: 20%;
    --tnum: 1;
  }
}
.slide{
  position: relative;
	width: 100%;
	height: 100vh;
	color: var(--color-bg);
  background: var(--color-base);
  padding: var(--pad-line);
  
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr) );
  gap: var(--pad-line);

	h1{
		font-size: var(--size-large);
    line-height: 1.0;
	}
	h2, h3, h4{
		font-size: var(--size-base);
	}
  h3, h4{
    margin-top: var(--pad);
  }
  .text > h3:first-child, .text > h4:first-child{
    margin-top: 0;
  }
	p{
		max-width: 30em;
	}
	ul{
		max-width: 30em;
    text-align: left;
		&+h4{
			margin-top: var(--pad-section);
		}
    margin-bottom: var(--pad);
	}
	figure{
    position: relative;
	}
  p+figure{
    margin-top: var(--lineheight);
  }
	img, video{
		display: block;
		width: 100%;
		height: auto;
    max-height: calc(100vh - 100px);
		object-fit: contain;
    object-position: top left;
	}
  video{
    max-height: 90vh;
    margin: auto;
  }
  figcaption{
    --wdth: 100;
    margin-top: var(--pad);
    font-size: var(--size-small);
    line-height: calc(var(--base)*1.5);
    // position: absolute;
    // bottom: var(--pad-line);
  }
	iframe{
		width: 100%;
		height: 85vh;
	}
	.source{
		font-size: var(--size-small);
		margin-left: 1em;
		border: none;
    padding: 5px;
    &::after{
      content: " →";
    }
	}
  footer{
    font-size: var(--size-small);
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: var(--pad);
    left: 0;
    .runner-2{
      grid-column-start: 3;
    }
  }
  &.divider{
    background: var(--color-tertiary);
    color: var(--color-base);
  }

//slide types
  .span2{
    grid-column-end: span 2;
  }
  .span3{
    grid-column-end: span 3;
  }
  // .fullimg{
  //   margin: 0;
  //   grid-column: 1/-1;
  // }

}

// slides with image padding
.pad{ 
	background: white;
}
.img-border{
  border: 1px solid var(--color-tertiary);
}

figure.small img{
	height: 70vh;
}
figure.wide{
	width: 80%;
}

//text figures
.xl{
  line-height: 1.0;
  font-size: var(--size-xlarge);
}
.l{
  line-height: 1.0;
  font-size: var(--size-large);
}

.highlight{
  background: var(--color-tertiary);
  code{color: var(--color-base);}
}

/*-----------------
DIAGRAMS
-------------------*/
p + pre {
  margin-top: var(--pad-medium);
}

.diagram {
  margin: var(--pad) 0;
  font-size: 16px;
  border: 1px solid var(--color-tertiary);
  padding: var(--pad);
  position: relative;
  color: var(--color-base);
  background: var(--color-bg);
  h1, h2, h3, h4, p, em,{
    text-transform: none;
    color: var(--color-base);
    text-indent: 0;
    margin: 0;
    font-family: Times New Roman, serif;
    line-height: 1.2;
    margin-bottom: 1em;
  }

  #demo {
    font-weight: bold;
    --wght: 900;
  }
  ul li{
    list-style-type: disc;
    margin-left: 1em;
    &:before{
      content: "";
    }
  }
  .caption{
    font-size: 16px;
  }

}

.diagram h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.diagram em {
  font-style: italic;
}

.line, .position-illo .square{
  background: var(--color-tertiary);
}

#block-element .line, .position-illo .line{
  height: 1.5em;
  margin-bottom: 0.5em;
}

.square {
  width: 100px;
  height: 100px;
  background: var(--color-base);
  color: var(--color-bg);
  font-size: 150px;
  line-height: 0.5;
  text-align: center;
}

.hover:hover{
  transform: rotate(45deg);
}

.trans{
  transition: transform 400ms ease-in-out;
}
.flex {
  display: flex;
  // justify-content: space-between;
}



.solid {
  background: transparent;
  border: 1px solid var(--color-link);
}

.marked {
  background: var(--color-link);
}

.marked-old{
  background: var(--color-link);
  opacity: 0.5;
}


.vf{
  margin: auto;
  margin-top: calc(var(--base)*3);
  text-align: center;
  animation: vf 3s linear alternate infinite;
}
@keyframes vf {
  0% {
    font-variation-settings: "wdth" 50, "wght" 200;
  }
  33% {
    font-variation-settings: "wdth" 50, "wght" 900;
  }
  66% {
    font-variation-settings: "wdth" 200, "wght" 900;
  }
  100% {
    font-variation-settings: "wdth" 200, "wght" 200;
  }
}

@keyframes changecolor {
  0% {
    background-color: blue;
    border-radius: 0;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
    border-radius: 50px;
  }
}


// ANIMATIONS
.interpolation{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
  .arrow{
    display: flex;
    align-items: center;
    font-size: 100px;
  }
}
.interp{
  font-size: 300px;
  display: flex;
  align-items: center;
}

.animate{
 animation-play-state: paused;
}

.arrowanimate{
  animation: arrowanimate 1s 400ms linear alternate infinite forwards;
}

@keyframes arrowanimate{
  0%{
    font-variation-settings: 'wdth' 0;
  }
  100%{
    font-variation-settings: 'wdth' 1000;
  }
}

@keyframes show{
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}

.label{
  font-size: .9rem;
  --wght: 600;
  --wdth: 120;
  margin-top: -2px;
  padding: 0 3px;
}

.vector{
  margin: auto;
  display: flex;
  width: 100%;
  padding: 5rem;
  .endpoint{
    border-radius: 50%;
    background: var(--color-link);
    width: 10px;
    height: 10px;
    padding-top: 5px;
  }
  .line{
    flex: 1;
    position: relative;
    top: 3px;
  }
  .linemove{
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 3px solid var(--color-txt);
    animation: extendline 2s 1s linear infinite;
  }
}

@keyframes extendline{
  0%{
    width: 0;
  }
  80%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}


@media (max-width: 500px){
  .text{
    width: 100%;
  }
  .grid{
    display: block;
  }
}

[data-feature="1"]{
  --toggle: 1;
}
[data-feature="0"]{
  --toggle: 0;
}


