// sass --watch main.scss main.css
@use 'slides';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Caper';
	font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
	font-feature-settings: "onum" var(--onum), "tnum" var(--tnum), "case" var(--case), "ss01" var(--ss01), "ss03" var(--ss03);
}

:root{
  --color-dark: rgb(15 15 15);
  // --color-bg: rgb(255 253 230);
  --color-bg: rgb(250, 250, 250);
  // --color-base: rgb(0 40 255);
  --color-base: rgb(50 20 20);

  --color-tertiary: rgb(149 182 255);
  // rgb(150 170 0);
  --color-txt: rgb(255 255 255);
  // --color-link: rgb(20 210 0);
  --color-link: rgb(215 255 15);

  --base: 14px;

  --pad: var(--base);
  --pad-small: calc(var(--base)*0.5);
  --pad-line: calc(var(--base)*1.5);
  --pad-section: calc(var(--base)*5);

  --indent: 1em;

  --width-wide: 1200px;
  --width-content: 680px;


  --size-small: calc( var(--base)*1.25);
  --size-base: calc( var(--base)*1.6);
  --size-medium: calc( var(--base)*2);
  --size-large: calc( var(--base)*5);
  --size-xlarge: calc( var(--base)*12);

  --tracking: 0.04em;
  --lineheight: calc( var(--base)*2);

  --wdth: 95;
  --wght: 450;
  --ital: 0;
  --onum: 1;
  --tnum: 0;
  --case: 0;
  --ss01: 0;
  --ss03: 0;
}

::selection{
	background: var(--color-tertiary);
	color: var(--color-base);
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: var(--size-base);
}


// @font-face{
//   font-family: 'Magmatic VF';
//   src: url(../demos/03-css-fonts/fonts/vfs/Magmatic-VF-Trial.woff2);
// }
// .magmatic{
//   font-family: 'Magmatic VF';
//   font-variation-settings: "wdth" 100, "wght" 400, "XHGT" 0;
// }

@font-face{
  font-family: 'Caper';
  font-style: normal;
  src: url(../assets/fonts/Caper-RomanVF.woff2);
}
@font-face{
  font-family: 'Caper';
  font-style: italic;
  src: url(../assets/fonts/Caper-ItalicVF.woff2);
}



body{
	color: var(--color-base);
	background: var(--color-bg);
	font-size: var(--size-base);
	font-weight: 400;
	line-height: var(--lineheight);		
	letter-spacing: var(--tracking);	
}

a{
	text-decoration: none;
	color: var(--color-base);
	background: var(--color-link);
	padding-bottom: 1px;	
	&:hover{
		background: transparent;
	}
}
a.anchor{
	display: block;
	padding-top: var(--pad);
}

em{
 font-style: italic;
}
ul{
	margin-bottom: var(--pad);
}

h1, h2, h3, h4, h5, h6{
	--case: 1;
	font-weight: normal;
}
section h2{
	border-bottom: 2px solid;
	margin-bottom: var(--lineheight);
}
// h3{
// 	font-feature-settings: 'c2sc' 1, 'smcp' 1;
// 	letter-spacing: 0.05em;
// }

p+p{
	text-indent: var(--indent);
}
h3, h5, blockquote, h3+p, p+details{
	margin-top: var(--lineheight);
}
blockquote{
	font-style: italic;
	padding-left: var(--indent);
	text-indent: -0.5em;
}

footer{
	--case: 1;
}
.caption{
	font-size: var(--size-small);
	letter-spacing: 0.04em;
	line-height: var(--size-base);
}

input[type="checkbox"] {
	-webkit-appearance: none;
	 appearance: none;
}
input[type="checkbox"]::before {
	display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  position: relative;
  top: 3px;
  border: 2px solid var(--color-base);
}
input[type="checkbox"]:focus{
	outline: 0;
}
input[type="checkbox"]:checked::before {
  background: var(--color-link);
}
label{
	cursor: pointer;
}
label[for="option-sticker"]{
	margin-right: var(--pad);
}

.options{
	margin-top: var(--pad);
}

// .title{
// 	display: none;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	--onum: 0;

// 	h1, h2, h4{
// 		margin: 0;
// 		letter-spacing: 0;
// 		font-size: 18vh;
// 		line-height: 0.9;
// 		color: var(--color-link);
// 	}
// }
h5,.schedule-header{
	@extend .caption;
}

.schedule-caption{
	margin-top: var(--pad);
}


ul,ol{
	margin-left: var(--indent);
	li{
		list-style-type: none;
		position: relative;
		&:before{
			display: inline-block;
			width: var(--indent);
			position: absolute;
			left: calc( var(--indent)*-1 );
		}
	}
}

ol {
	--onum: 0;
  counter-reset: item;
}

ol li::before {
  content: counter(item) " ";
  counter-increment: item;
}

ul li{
	&::before{
		content: "• ";
	}
	&.list-link:before{
		content: "→ ";
	}
}





pre{
	tab-size: 1rem;
	font-size: var(--size-small);
	color: var(--color-tertiary);
	overflow: hidden;
}
code, strong{
	// font-size: .85em;
	// line-height: .95;
	color: var(--color-tertiary);	
	--onum: 0;
}

.sm{
	font-feature-settings: 'c2sc' 1, 'smcp' 1;
}




.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--pad);
}



main{
	margin: var(--pad);
	&.grid{
		height: calc( 100vh -  2 * var(--pad));
	}
}

.col::-webkit-scrollbar {
  display: none;
}
.col{
	height: 100%;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	section{
		position: relative;
		background: var(--color-bg);
		padding-bottom: var(--pad-section);
	}

}
nav{
	position: sticky;
	top: 0;
	display: grid;
	height: 100vh;
	grid-template-rows: repeat(3, 1fr);
}

//default is 50 50
.text-column{
	grid-column: span 4;
}
//
.text-column-wide{
	grid-column: span 5;
}
.text-column-wide + .text-column{
	grid-column: span 3;
}

.schedule-item{
	border-bottom: 2px solid;
	padding: var(--lineheight) 0;
}

.inactive{
	opacity: 0.5;
}

.schedule-header{
	padding-top: 0;
}

summary{
	cursor: pointer;
	&:hover{
		background: var(--color-link);
	}
}




/*-----------------
SECTIONS
-------------------*/
#syllabus details{
	margin-bottom: var(--pad);
}
#schedule details p{
	margin-bottom: var(--pad);
}

// aside{
// 	bottom: var(--pad-section);
// 	position: fixed;
// 	width: 300px;
// }
// #students{
// 	left: var(--pad);	
// }
// #quicklinks{
// 	right: var(--pad);
// }

.link{
	margin-right: var(--pad);
	border-bottom: 0;
	&:after{
		content: '↗';
	}
}

//sticker
#tag-label {
  opacity: 0;
  position: fixed;
  mix-blend-mode: multiply;
  background: var(--color-tertiary);
  color: var(--color-link);
  box-shadow: inset 2px 2px 4px var(--color-base);
  padding: 8px 8px 0px;
  line-height: 1;
  z-index: 100;
  line-height: 0.9;
  padding: var(--pad-line);
  padding-bottom: calc( var(--pad-line)*0.8);
  border-radius: 50%;
  --case: 1;
  transition: opacity 100ms ease-in-out;
  &.active{
  	opacity: 1;
  }
}

@media print {
  body{
    background: white;
    color: black;
  }
}


