@charset "UTF-8";
.layout-slides {
  --size-base: calc( var(--base) * 1.75);
  --lineheight: calc( var(--base) * 2.25);
}
.layout-slides header, .layout-slides footer, .layout-slides section {
  max-width: none;
  margin: 0;
  width: 100%;
}
.layout-slides h2 {
  border-bottom: 0;
}
.layout-slides h1 + h2 {
  margin-top: var(--pad);
}
.layout-slides main {
  margin: 0;
}
.layout-slides a:hover {
  color: var(--color-link);
}
.layout-slides input[type=checkbox] {
  --color-base: var(--color-bg);
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 0;
}
table td {
  vertical-align: top;
}
table th, table td {
  border-bottom: 2px solid;
  padding: 0.25em 0.5em;
}
table th:first-child, table td:first-child {
  padding-left: 0;
}
table th:last-child, table td:last-child {
  padding-right: 0;
}
table th {
  padding-top: 0;
}
table.dense {
  font-size: var(--size-small);
}

.table-fontvalues th:first-child, .table-fontvalues td:first-child {
  width: 20%;
  --tnum: 1;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--color-bg);
  background: var(--color-base);
  padding: var(--pad-line);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--pad-line);
}
.slide h1 {
  font-size: var(--size-large);
  line-height: 1;
}
.slide h2, .slide h3, .slide h4 {
  font-size: var(--size-base);
}
.slide h3, .slide h4 {
  margin-top: var(--pad);
}
.slide .text > h3:first-child, .slide .text > h4:first-child {
  margin-top: 0;
}
.slide p {
  max-width: 30em;
}
.slide ul {
  max-width: 30em;
  text-align: left;
  margin-bottom: var(--pad);
}
.slide ul + h4 {
  margin-top: var(--pad-section);
}
.slide figure {
  position: relative;
}
.slide p + figure {
  margin-top: var(--lineheight);
}
.slide img, .slide video {
  display: block;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 100px);
  object-fit: contain;
  object-position: top left;
}
.slide video {
  max-height: 90vh;
  margin: auto;
}
.slide figcaption {
  --wdth: 100;
  margin-top: var(--pad);
  font-size: var(--size-small);
  line-height: calc(var(--base) * 1.5);
}
.slide iframe {
  width: 100%;
  height: 85vh;
}
.slide .source {
  font-size: var(--size-small);
  margin-left: 1em;
  border: none;
  padding: 5px;
}
.slide .source::after {
  content: " →";
}
.slide footer {
  font-size: var(--size-small);
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: var(--pad);
  left: 0;
}
.slide footer .runner-2 {
  grid-column-start: 3;
}
.slide.divider {
  background: var(--color-tertiary);
  color: var(--color-base);
}
.slide .span2 {
  grid-column-end: span 2;
}
.slide .span3 {
  grid-column-end: span 3;
}

.pad {
  background: white;
}

.img-border {
  border: 1px solid var(--color-tertiary);
}

figure.small img {
  height: 70vh;
}

figure.wide {
  width: 80%;
}

.xl {
  line-height: 1;
  font-size: var(--size-xlarge);
}

.l {
  line-height: 1;
  font-size: var(--size-large);
}

.highlight {
  background: var(--color-tertiary);
}
.highlight code {
  color: var(--color-base);
}

/*-----------------
DIAGRAMS
-------------------*/
p + pre {
  margin-top: var(--pad-medium);
}

.diagram {
  margin: var(--pad) 0;
  font-size: 16px;
  border: 1px solid var(--color-tertiary);
  padding: var(--pad);
  position: relative;
  color: var(--color-base);
  background: var(--color-bg);
}
.diagram h1, .diagram h2, .diagram h3, .diagram h4, .diagram p, .diagram em {
  text-transform: none;
  color: var(--color-base);
  text-indent: 0;
  margin: 0;
  font-family: Times New Roman, serif;
  line-height: 1.2;
  margin-bottom: 1em;
}
.diagram #demo {
  font-weight: bold;
  --wght: 900;
}
.diagram ul li {
  list-style-type: disc;
  margin-left: 1em;
}
.diagram ul li:before {
  content: "";
}
.diagram .caption, .diagram h5, .diagram .schedule-header {
  font-size: 16px;
}

.diagram h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.diagram em {
  font-style: italic;
}

.line, .position-illo .square {
  background: var(--color-tertiary);
}

#block-element .line, .position-illo .line {
  height: 1.5em;
  margin-bottom: 0.5em;
}

.square {
  width: 100px;
  height: 100px;
  background: var(--color-base);
  color: var(--color-bg);
  font-size: 150px;
  line-height: 0.5;
  text-align: center;
}

.hover:hover {
  transform: rotate(45deg);
}

.trans {
  transition: transform 400ms ease-in-out;
}

.flex {
  display: flex;
}

.solid {
  background: transparent;
  border: 1px solid var(--color-link);
}

.marked {
  background: var(--color-link);
}

.marked-old {
  background: var(--color-link);
  opacity: 0.5;
}

.vf {
  margin: auto;
  margin-top: calc(var(--base) * 3);
  text-align: center;
  animation: vf 3s linear alternate infinite;
}

@keyframes vf {
  0% {
    font-variation-settings: "wdth" 50, "wght" 200;
  }
  33% {
    font-variation-settings: "wdth" 50, "wght" 900;
  }
  66% {
    font-variation-settings: "wdth" 200, "wght" 900;
  }
  100% {
    font-variation-settings: "wdth" 200, "wght" 200;
  }
}
@keyframes changecolor {
  0% {
    background-color: blue;
    border-radius: 0;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
    border-radius: 50px;
  }
}
.interpolation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.interpolation .arrow {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.interp {
  font-size: 300px;
  display: flex;
  align-items: center;
}

.animate {
  animation-play-state: paused;
}

.arrowanimate {
  animation: arrowanimate 1s 400ms linear alternate infinite forwards;
}

@keyframes arrowanimate {
  0% {
    font-variation-settings: "wdth" 0;
  }
  100% {
    font-variation-settings: "wdth" 1000;
  }
}
@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.label {
  font-size: 0.9rem;
  --wght: 600;
  --wdth: 120;
  margin-top: -2px;
  padding: 0 3px;
}

.vector {
  margin: auto;
  display: flex;
  width: 100%;
  padding: 5rem;
}
.vector .endpoint {
  border-radius: 50%;
  background: var(--color-link);
  width: 10px;
  height: 10px;
  padding-top: 5px;
}
.vector .line {
  flex: 1;
  position: relative;
  top: 3px;
}
.vector .linemove {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 3px solid var(--color-txt);
  animation: extendline 2s 1s linear infinite;
}

@keyframes extendline {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .text {
    width: 100%;
  }
  .grid {
    display: block;
  }
}
[data-feature="1"] {
  --toggle: 1;
}

[data-feature="0"] {
  --toggle: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caper";
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
  font-feature-settings: "onum" var(--onum), "tnum" var(--tnum), "case" var(--case), "ss01" var(--ss01), "ss03" var(--ss03);
}

:root {
  --color-dark: rgb(15 15 15);
  --color-bg: rgb(250, 250, 250);
  --color-base: rgb(50 20 20);
  --color-tertiary: rgb(149 182 255);
  --color-txt: rgb(255 255 255);
  --color-link: rgb(215 255 15);
  --base: 14px;
  --pad: var(--base);
  --pad-small: calc(var(--base)*0.5);
  --pad-line: calc(var(--base)*1.5);
  --pad-section: calc(var(--base)*5);
  --indent: 1em;
  --width-wide: 1200px;
  --width-content: 680px;
  --size-small: calc( var(--base)*1.25);
  --size-base: calc( var(--base)*1.6);
  --size-medium: calc( var(--base)*2);
  --size-large: calc( var(--base)*5);
  --size-xlarge: calc( var(--base)*12);
  --tracking: 0.04em;
  --lineheight: calc( var(--base)*2);
  --wdth: 95;
  --wght: 450;
  --ital: 0;
  --onum: 1;
  --tnum: 0;
  --case: 0;
  --ss01: 0;
  --ss03: 0;
}

::selection {
  background: var(--color-tertiary);
  color: var(--color-base);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: var(--size-base);
}

@font-face {
  font-family: "Caper";
  font-style: normal;
  src: url(../assets/fonts/Caper-RomanVF.woff2);
}
@font-face {
  font-family: "Caper";
  font-style: italic;
  src: url(../assets/fonts/Caper-ItalicVF.woff2);
}
body {
  color: var(--color-base);
  background: var(--color-bg);
  font-size: var(--size-base);
  font-weight: 400;
  line-height: var(--lineheight);
  letter-spacing: var(--tracking);
}

a {
  text-decoration: none;
  color: var(--color-base);
  background: var(--color-link);
  padding-bottom: 1px;
}
a:hover {
  background: transparent;
}

a.anchor {
  display: block;
  padding-top: var(--pad);
}

em {
  font-style: italic;
}

ul {
  margin-bottom: var(--pad);
}

h1, h2, h3, h4, h5, h6 {
  --case: 1;
  font-weight: normal;
}

section h2 {
  border-bottom: 2px solid;
  margin-bottom: var(--lineheight);
}

p + p {
  text-indent: var(--indent);
}

h3, h5, blockquote, h3 + p, p + details {
  margin-top: var(--lineheight);
}

blockquote {
  font-style: italic;
  padding-left: var(--indent);
  text-indent: -0.5em;
}

footer {
  --case: 1;
}

.caption, h5, .schedule-header {
  font-size: var(--size-small);
  letter-spacing: 0.04em;
  line-height: var(--size-base);
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
}

input[type=checkbox]::before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  position: relative;
  top: 3px;
  border: 2px solid var(--color-base);
  cursor: pointer;
}

input[type=checkbox]:focus {
  outline: 0;
}

input[type=checkbox]:checked::before {
  background: var(--color-link);
}

label {
  cursor: pointer;
}

label[for=option-sticker] {
  margin-right: var(--pad);
}

.options {
  margin-top: var(--pad);
}

.schedule-caption {
  margin-top: var(--pad);
}

ul, ol {
  margin-left: var(--indent);
}
ul li, ol li {
  list-style-type: none;
  position: relative;
}
ul li:before, ol li:before {
  display: inline-block;
  width: var(--indent);
  position: absolute;
  left: calc(var(--indent) * -1);
}

ol {
  --onum: 0;
  counter-reset: item;
}

ol li::before {
  content: counter(item) " ";
  counter-increment: item;
}

ul li::before {
  content: "• ";
}
ul li.list-link:before {
  content: "→ ";
}

pre {
  tab-size: 1rem;
  font-size: var(--size-small);
  color: var(--color-tertiary);
  overflow: hidden;
}

code, strong {
  color: var(--color-tertiary);
  --onum: 0;
}

.sm {
  font-feature-settings: "c2sc" 1, "smcp" 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--pad);
}

main.grid {
  height: calc(100vh - 2 * var(--pad));
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.col::-webkit-scrollbar {
  display: none;
}

.col {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-top: 100vh;
}
.col section {
  position: relative;
  background: var(--color-bg);
  padding: var(--pad);
  padding-bottom: var(--pad-section);
  pointer-events: auto;
}

nav {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--pad);
}
nav .box {
  padding: var(--pad);
}

.text-column {
  grid-column: span 4;
}

.text-column-wide {
  grid-column: span 5;
}

.text-column-wide + .text-column {
  grid-column: span 3;
}

.schedule-item {
  border-bottom: 2px solid;
  padding: var(--lineheight) 0;
}

.inactive {
  opacity: 0.5;
}

.schedule-header {
  padding-top: 0;
}

summary {
  cursor: pointer;
}
summary:hover {
  background: var(--color-link);
}

/*-----------------
SECTIONS
-------------------*/
#syllabus details {
  margin-bottom: var(--pad);
}

#schedule details p {
  margin-bottom: var(--pad);
}

.link {
  margin-right: var(--pad);
  border-bottom: 0;
}
.link:after {
  content: "↗";
}

#tag-label {
  opacity: 0;
  position: fixed;
  mix-blend-mode: multiply;
  background: var(--color-tertiary);
  color: var(--color-link);
  box-shadow: inset 2px 2px 4px var(--color-base);
  padding: 8px 8px 0px;
  line-height: 1;
  z-index: 100;
  line-height: 0.9;
  padding: var(--pad-line);
  padding-bottom: calc(var(--pad-line) * 0.8);
  border-radius: 50%;
  --case: 1;
  transition: opacity 100ms ease-in-out;
}
#tag-label.active {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  :root {
    --base: 12px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --base: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  nav {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .col {
    height: auto;
    overflow: visible;
    padding-top: 0;
  }
  .col.box:first-child {
    margin-top: 100vh;
  }
  section {
    margin-top: var(--pad-section);
  }
}
@media print {
  body {
    background: white;
    color: black;
  }
}

/*# sourceMappingURL=main.css.map */
